# Object files
*.o
*.ko
*.obj
*.elf
*.slo
*.lo

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.lai

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# my executable
srv

# Debug files
*.dSYM/

#
*.d

# links
links

# 
generated_htmls/*

# logs file
LOGS
